<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="JoyStickDeviceName" value="USB Audio CODEC" />
  <add key="AudioSamplingRate" value="48000" />
  <add key="ChannelType" value="Stereo" />
  <add key="InactivityTimeOut" value="5" />
  <add key="UseTimeOut" value="False" />
  <add key="YoutubeDownloadMethod" value="YoutubeExplode" />
  <add key="FontSizeDefault" value="12" />
  <add key="ShowRealTime" value="False" />
  <add key="UseDarkTheme" value="True" />
  <add key="CloseAfterCheckedDefaultRoutine" value="True" />
  <add key="WallPaper" value="BlueCircle" />
  <add key="DefaultDownloadFolderPath" value="C:\Users\user\Downloads" />
</appSettings>